<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lwd.microservice.boot.common.dao.VisitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.lwd.microservice.boot.common.entity.Visit">
        <id column="id" property="id" />
        <result column="user_login_id" property="userLoginId" />
        <result column="server_ip_address" property="serverIpAddress" />
        <result column="server_host_name" property="serverHostName" />
        <result column="webapp_name" property="webappName" />
        <result column="initial_locale" property="initialLocale" />
        <result column="initial_request" property="initialRequest" />
        <result column="initial_referrer" property="initialReferrer" />
        <result column="initial_user_agent" property="initialUserAgent" />
        <result column="enabled" property="enabled" />
        <result column="msg" property="msg" />
        <result column="party_id" property="partyId" />
        <result column="role_type_id" property="roleTypeId" />
        <result column="from_date" property="fromDate" />
        <result column="thru_date" property="thruDate" />
        <result column="create_time" property="createTime" />
        <result column="deleted_tag" property="deletedTag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_login_id, server_ip_address, server_host_name, webapp_name, initial_locale, initial_request, initial_referrer, initial_user_agent, enabled, msg, party_id, role_type_id, from_date, thru_date, create_time, deleted_tag
    </sql>

</mapper>
